In [ ]:
# Import libraries
import pandas as pd
import numpy as np

In [ ]:
# load the shakespeare data
data = pd.read_csv('Shakespeare_data.csv',index_col=False)
data

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [ ]:
# filter the content column to 500 words in each line 
df_shakespeare = data['PlayerLine'].groupby(np.repeat(np.arange(len(data)), 50)[:len(data)]).agg(' '.join)
df_shakespeare

0       ACT I SCENE I. London. The palace. Enter KING ...
1       Brake off our business for the Holy Land. This...
2       Which makes him prune himself, and bristle up ...
3       now in as low an ebb as the foot of the ladder...
4       me, Hal, God forgive thee for it! Before I kne...
                              ...
2223    sea-sick, and himself little better, extremity...
2224    Ay, by any means prove a tall fellow: if I do ...
2225    Even with such life of majesty, warm life, As ...
2226    For this affliction has a taste as sweet As an...
2227    Or how stolen from the dead. That she is livin...
Name: PlayerLine, Length: 2228, dtype: object

In [ ]:
df = pd.DataFrame(df_shakespeare)

In [ ]:
# consider only 500 values
df = df.head(500)
df

                                            PlayerLine
0    ACT I SCENE I. London. The palace. Enter KING ...
1    Brake off our business for the Holy Land. This...
2    Which makes him prune himself, and bristle up ...
3    now in as low an ebb as the foot of the ladder...
4    me, Hal, God forgive thee for it! Before I kne...
..                                                 ...
495  Nay, let them follow: The Volsces have much co...
496  Since I heard thence, these are the words: I t...
497  youth with comeliness plucked all gaze his way...
498  I thank your ladyship, well, good madam. He ha...
499  Let her alone, lady: as she is now, she will b...

[500 rows x 1 columns]

In [ ]:
# Assing label as human
df = df.assign(label='Human')

In [ ]:
# Column Renames
df = df.rename(columns={'PlayerLine': 'text',
                   'label': 'Label'})
df

                                                  text  Label
0    ACT I SCENE I. London. The palace. Enter KING ...  Human
1    Brake off our business for the Holy Land. This...  Human
2    Which makes him prune himself, and bristle up ...  Human
3    now in as low an ebb as the foot of the ladder...  Human
4    me, Hal, God forgive thee for it! Before I kne...  Human
..                                                 ...    ...
495  Nay, let them follow: The Volsces have much co...  Human
496  Since I heard thence, these are the words: I t...  Human
497  youth with comeliness plucked all gaze his way...  Human
498  I thank your ladyship, well, good madam. He ha...  Human
499  Let her alone, lady: as she is now, she will b...  Human

[500 rows x 2 columns]

In [ ]:
# Save as csv file
df.to_csv('Human_shakespeare.csv',index=False)

In [ ]:
df['text'].to_csv(r'human_shakespeare.txt', header=None, index=None, sep=' ', mode='a')